@page "/"

<PageTitle>Home</PageTitle>

<h1><Font color="312287"> Trabalho Tutorial Razor </Font></h1>
Marina Duarte de Souza - RA:00083525 <br /> <br />
Gabriela Ayumi Hiray Matuhita - RA:00108585<br/> <br/>

Na página "Lista" está disponível a explicação de como trabalhar com listas.
<br /> <br />

Na página "Crud" estão disponíveis as explicações de:
<li>Deletar Objeto </li>  
<li>Cadastrar Objeto </li>  
<li>Editar Objeto </li> 
<li>Formulário </li> 
<li>Injeção de Dependência </li> 


